@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");

:root {
  --bg-color-1: #13547a;
  --bg-color-2: #80d0c7;
  --danger: #ff6176;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    15deg,
    var(--bg-color-1) 0%,
    var(--bg-color-2) 100%
  );
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inclusive Sans", sans-serif;
  color: white;
}

a {
  all: unset;
  display: inline-block;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40em;
  max-width: 100%;
  animation: fadeIn 1s forwards;
  opacity: 0;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}

/* UI */

.label {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.button,
.button-group,
input[type="text"],
.game-color-input {
  background-color: transparent;
  border: 0.1em white solid;
  color: white;
  font-family: "Inclusive Sans", sans-serif;
  border-radius: 0.5em;
  font-size: 1em;
}

.button.disabled {
  border-color: #aaa;
  color: #aaa !important;
  background-color: transparent !important;
  cursor: auto !important;
}

input[type="text"] {
  padding: 0.8em;
  text-align: center;
}

.button,
.button-group > div {
  padding: 0.8em 2em;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
}

.button:hover,
.button-group > div:hover,
.btn-group-active {
  background-color: white;
  color: var(--bg-color-1);
}

.card {
  background-color: white;
  padding: 10em;
  border-radius: 2em;
}

.button-group {
  display: flex;
  overflow: hidden;
}

.button-group > div {
  border-left: 0.1em white solid;
}

.button-group > div:first-child {
  border-left: none;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

.menu-difficulty-info-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

.menu-difficulty-info-container > * {
  margin-left: 0.5em;
}

/* COLOR INPUT */

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3em;
  height: 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: none;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 0.5em;
  border: none;
  padding: none;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 0.5em;
  border: none;
  padding: none;
}

#start-game-button {
  margin-top: 1em;
}

/* GAME INPUT */

.bottom-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  padding: 1em;
  margin-top: auto;
  max-width: 25em;
}

.color-input-container {
  display: flex;
  align-items: center;
}

.color-buttons-container {
  display: flex;
  justify-items: center;
  align-items: center;
  aspect-ratio: 4 / 1;
  width: 100%;
}

#check-button {
  margin: 0.2em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.game-color-input,
.color-button {
  box-sizing: border-box;
  cursor: pointer;
  flex: 1;
  aspect-ratio: 1;
  transition: 0.1s;
  border-radius: 20%;
  margin: 0.2em;
}

.game-color-input.focused {
  box-shadow: 0 0 2px 8px rgba(255, 255, 255, 0.392);
}

.game-color-input:hover,
.color-button:hover {
  filter: brightness(0.9);
}

.game-color-input:active,
.color-button:active {
  filter: brightness(0.6);
  box-shadow: 0 0 0;
}

#error-message {
  color: var(--danger);
  width: 100%;
  text-align: center;
  top: -2em;
  position: absolute;
}

/* GAME */

#game-rows {
  width: 100%;
  color: #555;
  overflow-y: overlay;
  padding: 2em 0;
  transition: 1s transform linear, 1s opacity linear;
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.game-tutorial-container {
  color: white;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: visible;
  margin: auto;
}

.game-tutorial-container > img {
  height: 3em;
  width: 3em;
  animation: arrow-poiting-down 2s infinite;
}

.game-row {
  margin: 0 1em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 2em;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  gap: 0.2em;
  padding: 0.4em;
  align-items: center;
  justify-content: center;
  align-content: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.row-counter {
  border-radius: 1.5em;
  aspect-ratio: 1;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-color-indicator-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.row-color-indicator {
  border-radius: 30%;
  margin: 0.2em;
  flex: 1 1 1px;
  aspect-ratio: 1;
}

.row-checker {
  border-radius: 2em;
  aspect-ratio: 1;
  justify-items: center;
  align-items: center;
  display: grid;
  padding: 1em;
}

.row-checker-grid-4 {
  grid-template: 1fr 1fr / 1fr 1fr;
}

.row-checker-grid-5 {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.row-checker-grid-6 {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.row-checker-dot {
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.15em solid #bbb;
  box-sizing: border-box;
}

.row-checker-dot.hasColor {
  background: #555;
  border: none;
}

.row-checker-dot.hasPosition {
  background: var(--bg-color-2);
  border: none;
}

.end-game-message {
  font-size: 3em;
}

/* GAME RANKING */

.ranking-container {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr 2fr 2fr;
  width: 100%;
  margin: 1em;
}

.ranking-container > div {
  border-bottom: 0.02em solid white;
  padding: 0.3em;
}

/* UTILITY */

.shadow {
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.12);
}

.rounded {
  border-radius: 1em;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2em);
  }
  to {
    opacity: 1;
    transform: translateY(0em);
  }
}

@keyframes arrow-poiting-down {
  0%,
  100% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(1em);
  }
}

@media (max-width: 430px) {
  .row-checker-dot {
    width: 0.5em;
  }
  .row-checker {
    padding: 0.6em;
  }
}
