@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");

:root {
  --bg-color-1: #13547a;
  --bg-color-2: #80d0c7;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    15deg,
    var(--bg-color-1) 0%,
    var(--bg-color-2) 100%
  );
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inclusive Sans", sans-serif;
  color: white;
}

a {
  all: unset;
  display: inline-block;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  max-width: 100%;
  animation: fadeIn 1s forwards;
  opacity: 0;
}

/* UI */

.label {
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}

.button,
.button-group,
input[type="text"] {
  background-color: transparent;
  border: 0.1em white solid;
  color: white;
  font-family: "Inclusive Sans", sans-serif;
  border-radius: 0.5em;
}

input[type="text"] {
  padding: 0.8em;
  text-align: center;
  font-size: 1em;
}

.button,
.button-group > div {
  padding: 0.8em 2em;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
}

.button:hover,
.button-group > div:hover {
  background-color: white;
  color: var(--bg-color-1);
}

.card {
  background-color: white;
  padding: 10em;
  border-radius: 2em;
}

.button-group {
  display: flex;
  overflow: hidden;
}

.button-group > div {
  border-left: 0.1em white solid;
}

.button-group > div:first-child {
  border-left: none;
}

/* COLOR INPUT */

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3em;
  height: 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: none;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 0.5em;
  border: none;
  padding: none;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 0.5em;
  border: none;
  padding: none;
}

/* UTILITY */

.shadow {
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.33);
}

.rounded {
  border-radius: 1em;
}

/* ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2em);
  }
  to {
    opacity: 1;
    transform: translateY(0em);
  }
}
